.or-divider-parent .or-divider {
    border-width: 1px 0 0 0;
    padding-top: 15px;
    position: relative;
    text-align: center;
    top: 10px;
    margin-bottom: 10px;
}

.or-border {
    border-color: rgb(15, 81, 164);
		border: solid 1px #e4e4e4;
}

.or-divider-parent .or-divider .or {
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -16px;
    margin-left: -16px;
    line-height: 28px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 12px !important;
    font-weight: 600;
    color: #000000;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}