/*MAX two lines of text summary*/
.vlp-link-summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*----Text Image same line display----*/
.vlp-layout-image-text-same-line {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.vlp-layout-image-text-same-line .vlp-link-image {
    float: left;
    padding-right: 5px;
    width: 100px;
}