.searchElements {
    margin-top: 10px;
    text-align: center;
}

.searchBox {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;

    /* background-image: url('images/search.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
}

.searchBox::-webkit-search-cancel-button {
    position: relative;
    right: 10px;
}

.playlistVideoCount {
    font-size: 12px;
    font-weight: bold;
}

/* .searchResult {
    display: none;
} */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}