/*Copied from WP Bottom Menu Plugin*/
.wp-bottom-menu {
    display: flex;
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    transition: all 200ms;
}

.wp-bottom-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    flex: 1;
    font-size: 12px;
    color: #555555;
    cursor: pointer;
    user-select: none;
    text-decoration: none !important;
    transition: color 200ms;
}

.wp-bottom-menu-icon-wrapper {
    position: relative;
    line-height: 0;
}


/*---Icons From https://css.gg/---*/
/*Phone*/
.gg-phone {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    transform: scale(var(--ggs, 1))
}

.gg-phone::after,
.gg-phone::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-phone::after {
    width: 18px;
    height: 18px;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 12px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 2px;
    bottom: 2px;
    background:
        linear-gradient(to left,
            currentColor 10px,
            transparent 0) no-repeat right 11px/6px 4px,
        linear-gradient(to left,
            currentColor 10px,
            transparent 0) no-repeat -1px 0/4px 6px
}

.gg-phone::before {
    width: 20px;
    height: 20px;
    border: 6px double;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transform: rotate(-45deg);
    bottom: 2px;
    left: 2px
}

/*Search*/
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}

.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

/*Inner work - Yin Yang*/
.gg-yinyang {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(95deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 22px
}

.gg-yinyang::after,
.gg-yinyang::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    top: 4px
}

.gg-yinyang::before {
    border: 2px solid;
    left: 0
}

.gg-yinyang::after {
    border: 2px solid transparent;
    right: 0;
    box-shadow:
        inset 0 0 0 4px,
        0 -3px 0 1px,
        -2px -4px 0 1px,
        -8px -5px 0 -1px,
        -11px -3px 0 -2px,
        -12px -1px 0 -3px,
        -6px -6px 0 -1px
}

/*Tools*/
.gg-toolbox {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 16px;
    border: 2px solid;
    border-radius: 2px
}

.gg-toolbox::after,
.gg-toolbox::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}

.gg-toolbox::before {
    border: 2px solid;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    left: 4px;
    width: 10px;
    height: 4px;
    top: -5px
}

.gg-toolbox::after {
    width: 18px;
    height: 2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-shadow:
        0 -2px 0,
        inset 4px 0 0,
        inset -4px 0 0;
    top: 4px
}

/*Arrow Up*/
.gg-arrow-up-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 20px
}

.gg-arrow-up-o::after,
.gg-arrow-up-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 4px
}

.gg-arrow-up-o::after {
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px
}

.gg-arrow-up-o::before {
    width: 2px;
    height: 10px;
    left: 8px;
    background: currentColor
}

/*Chatty Css*/
.chaty-widget {
    bottom: 78px !important;
}

/* .chaty-widget.chaty-open .chaty-i-trigger .chaty-cta-close.chaty-tooltip.chaty-tooltip:hover:after,
.chaty-widget.chaty-open .chaty-i-trigger .chaty-cta-close.chaty-tooltip:hover:before,
.chaty.active,
.chaty.form-open .chaty-widget.cssas-no-close-button.default-open .chaty-i-trigger {
    display: block !important;
}

.chaty-widget {
    position: fixed;
    bottom: 78px;
    right: 25px;
    z-index: 10001;
}

.chaty *,
.chaty-form-body form {
    margin: 0;
    padding: 0;
}

.chaty *,
.chaty-chat-view *,
.chaty-outer-forms * {
    box-sizing: border-box;
}

.chaty-agent-header,
.chaty-channel,
.chaty-channels,
.chaty-form-body,
.chaty-tooltip {
    position: relative;
}

.chaty *,
.chaty-chat-view *,
.chaty-outer-forms * {
    box-sizing: border-box;
}

.chaty-channel-list {
    display: flex;
    width: 62px;
    height: 124px;
    position: absolute;
    bottom: -4px;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    pointer-events: none;
}

.chaty-i-trigger .chaty-channel {
    position: absolute;
    bottom: 0;
    right: 4px;
    transition: .5s;
    border-radius: 50%;
    cursor: pointer;
}

.chaty-channel a,
.chaty-channel button,
.chaty-svg {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: 0;
}

.chaty a,
.chaty a:focus,
.chaty a:hover,
.chaty button {
    border: none;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.chaty-channel.single .chaty-svg {
    margin: 0;
}

.chaty-channel-list .chaty-channel,
.chaty-channel.single .chaty-svg {
    display: inline-block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

.chaty-channel a,
.chaty-channel button,
.chaty-svg {
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: 0;
}

.chaty-agent-icon svg,
.chaty-channel svg,
.chaty-view-channels .chaty-channel span svg {
    width: 100%;
    height: 100%;
}

.chaty-tooltip.pos-left .on-hover-text,
.chaty-tooltip.pos-left:after {
    top: 50%;
    right: calc(100% + 10px);
    transform: translate(-.5em, -50%);
}

.chaty-tooltip.has-on-hover:after,
.chaty-tooltip.has-on-hover:before,
.chaty-widget .chaty-i-trigger .chaty-cta-close.chaty-tooltip.chaty-tooltip:hover:after,
.chaty-widget .chaty-i-trigger .chaty-cta-close.chaty-tooltip:hover:before,
.chaty-widget.chaty-open .chaty-i-trigger .chaty-cta-main.chaty-tooltip:after,
.chaty-widget.chaty-open .chaty-i-trigger .chaty-cta-main.chaty-tooltip:before,
.chaty-widget.cssas-no-close-button.default-open .chaty-i-trigger,
.on-hover-text:empty,
[data-hover=""]:after,
[data-hover=""]:before {
    display: none !important;
}

.chaty-tooltip .on-hover-text {
    overflow: visible;
    white-space: pre;
}

.chaty-tooltip .on-hover-text,
.chaty-tooltip:after {
    text-align: center;
    min-width: 1em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 15px;
    border-radius: 10px;
    background: #fff;
    color: #333;
    z-index: 1000;
    box-shadow: 0 1.93465px 7.73859px rgb(0 0 0 / 15%);
    font-size: 17px;
    line-height: 21px;
}

.chaty-tooltip .on-hover-text,
.chaty-tooltip .on-hover-text:before,
.chaty-tooltip:after,
.chaty-tooltip:before {
    text-transform: none;
    font-size: .9em;
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
} */